.navigation{
    position: fixed;
    width: 25%;
    z-index: 1000;
    background-color: #000;
    height: 100%;
    border-right: 2px solid #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: .5s;
    visibility: hidden;
    max-width: 100px;
    margin: 50px auto;
}
.navigation .closeNav:hover{
    color: #fff;
}
.navigation .closeNav{
    color: #eb83f8;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: .1s;
}
.navigation ul{
    padding: 0;
}
.navigation ul li{
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
    list-style: none;
    cursor: pointer;
    padding-bottom: 5px;
    position: relative;
}
.navigation ul li button{
    color: #fff;
    background-color: transparent;
    border: none;
}
.navigation ul li:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    visibility: hidden;
    background-color: #eb83f8;
    transition: all .3s;
    transform: scaleX(0);
}
button,input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button,select{
    overflow: visible;
}
button,input,optgroup,select,textarea{
    margin: 0;
    font: inherit;
}
ol,ul{
    margin-top: 0;
    margin-bottom: 10px;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.svg-inline--fa .fa-w-11{
    width: 0.6875em;
}


@media (max-width:500px){
    .navigation{
        width: 100%;
    }
}