
.random-text{
    display: block;
}

.random-text span{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

@media(max-width:991px){
    .random-text span{
        font-size: 40px;
        line-height: 40px;
    }
}