.col-md-3{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.counter_component{
    text-align: center;
}

.counter_component span{
    color: #fff;
    font-size: 30px;
}
.counter_component p{
    color: #fff;
    font-size: 14px;
    line-height: 15px;
}

.counter_component .github svg{
    color: #fff;
    font-size: 28px;
    height: 36px;
}

@media (max-width: 991px){
    .counter_component {
        padding: 20px;
    }
}


